.theme-container .sidebar > .sidebar-links > li > a.sidebar-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
}

.theme-default-content:not(.custom) {
    max-width: 1200px;
}

.theme-default-content:not(.custom) a:hover {
    text-decoration: none;
}

.theme-container .page-edit, .theme-container .page-nav {
    max-width: 1200px;
}

.theme-container .home .hero {
  margin-bottom: 40px;
}

.theme-container .home .hero .description {
  display: none;
}
